<!DOCTYPE html>
<html>
  <head>
  <style type = "text/css">
    body{
      background-image:url("/white.jpg");
      background-size: cover;
      }
  </style>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>created by Ruby on Rails</header>
    <div>
     <%= yield %>
    </div>
    <footer><br><br>作成日：2019-06-17月</footer>
  </body>
</html>
